* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 1.2px;
  color: #4d4d4d;
}

body {
  background-color: #f7f7f7;
}

.app {
  margin: 2rem 10%;
}

.top {
  display: flex;
  justify-content: space-between;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.social-icons>div>img{
  cursor: pointer;
  height: 30px;
  width: 30px;
  overflow: hidden;
}

.resume {
  width: 100%;
  height: 100%;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 2px 4px 15px 0 rgba(0, 0, 0, 0.3);
}

.resume-top {
  padding: 50px 20px 30px 10%;
  height: 35%;
  background-color: #4894df;
  border-radius: 10px 10px 0px 0px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  z-index: 10;
}

.resume-top>div:nth-child(1){
  position: relative;
}

.photo {
  position: absolute;
  top: 20px;
  height: 200px;
  width: 200px;
  border: 5px solid #FFF;
  overflow: hidden;
  box-shadow: 2px 4px 15px 0 rgba(0, 0, 0, 0.3);
}

.photo > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.person-name>* {
  color: #FFF;
}

.person-name > p {
  margin: 30px 0;
}

.action-btns > button {
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  box-shadow: 1px 1px 20px -5px rgba(0, 0, 0, 0.3);
}

.action-btns > button:nth-child(2) {
  margin-left: 10px;
  color: #fff;
  background-color: rgb(13, 194, 64);
}

.resume-detail{
  height: 65%;
  background-color: #fff;
  border-radius: 0px 0px 10px 10px;
}

.resume-detail-top {
  padding: 80px 20px 50px 10%;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

.resume-detail-top > .about {
  padding-right: 10%;
}

.about > p {
  margin-top: 20px;
}

.resume-detail-top > .personal-info {
  margin-top: 40px;
}

.personal-info{
  overflow: hidden;
}

.personal-info > table {
  table-layout: fixed;
  width: 100%;
  border-spacing: 10px;
}

.personal-info > table > tbody > tr > td:nth-child(2){
  padding-left: 30px;
  word-wrap: break-word;
}

hr{
  background-color: rgb(220, 220, 220);
  height: 1px;
  border: none;
}

.resume-detail-bottom {
  padding: 30px 20px 50px 10%;
}

.resume-detail-bottom>h1{
  margin-bottom: 50px;
}

.skills-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.skills-left, .skills-right{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 10%;
}

.percentage-bar{
  width: 100%;
  height: 20px;
  background-color: #d5d4d4;
  border-radius: 5px;
}

.percentage-bar>div{
  border-radius: 5px 0 0 5px;
  width: 80%;
  height: 100%;
  background-color: #4894df;
}

.skills-right>.percentage-bar>div{
  background-color: rgb(13, 194, 64);
}

.skills-left>.percentage-bar:nth-child(2)>div{
  width: 50%;
}

.skills-left>.percentage-bar:nth-child(4)>div{
  width: 80%;
}

.skills-left>.percentage-bar:nth-child(6)>div{
  width: 70%;
}

.skills-right>.percentage-bar:nth-child(2)>div{
  width: 50%;
}

.skills-right>.percentage-bar:nth-child(4)>div{
  width: 60%;
}

.skills-right>.percentage-bar:nth-child(6)>div{
  width: 20%;
}

.submit{
  position: relative;
  height: 80px;
}

.submit>button{
  cursor: pointer;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 40px;
  padding: 20px 45px;
  font-size: 15px;
  color: #FFF;
  background-color: rgb(13, 194, 64);
  border: none;
  border-radius: 50px;
}


